---
layout: comparison_page_v2
trial_bar: false
description: "This page compares the features of GitLab software to non-GitLab software. Review the pros and cons of each to help make your decision easier."
suppress_header: true
image_title: '/images/devops-tools/title_image.png'
extra_css:
  - release-posts.css
  - comparison-page-v2.css
  - carousel.css
  - comparison-page-header.css
  - compared.css
  - comparison-page-table.css
extra_js:
  - comparison-v2.js
  - bootstrap-tooltip.js
  - carousel.js
---

- use_cases = data.features_v2.use_cases
- product_one = data.features_v2.devops_tools[key_one]
- product_gitlab = data.features_v2.devops_tools[key_two]
- product_summary_max_length = 42
- empty_use_case_object = {:score => 0, :title => 'Not supported', :summary => '-', :description => ''}
- empty_use_case = Struct.new(*empty_use_case_object.keys).new(*empty_use_case_object.values)

- content_for(:title){ product_one.name + " vs. GitLab" }

- content_for :header do
  = partial(product_one.comparison_header || 'includes/devops-tools/header.html.haml', locals: { product_name: product_one.name, subtitle: "Comparison Guide", subtitle_class: "", layout: 'detailed' })

- content_for :comparison_table do
  .comparison-container.container
    .comparison-page-content.col-sm-12.base-flex.justify-center.padding0.white-bg
      - if product_one.comparison_table_content
        = image_tag product_one.comparison_table_content
      - else
        .compare-table-v2.margin-bottom0.white-bg
          .thead.padding-vertical20
            .bootstrap-row.text-header
              .col-md-4.text-left.table-title
                Overall Rating
                .table-title-details.padding-top10
                  Compares the highest featured versions of both vendors.
              .col-md-8
                .col-6.text-left
                  .table-title-logo
                    = image_tag "/images/devops-tools/gitlab-logo.svg", alt: "GitLab", class: "logo"
                    .row.padding-top20.score-box-product-title-container
                      .score-box{:score => product_gitlab.score}
                      .align-start
                        = product_gitlab.score

                .col-6.text-left
                  .table-title-logo
                    - if (product_one.logo != "null")
                      = image_tag "#{product_one.logo}", alt: "#{product_one.name}", class: "logo"
                    - else
                      = product_one.name
                    .row.padding-top20.score-box-product-title-container
                      .score-box{:score => product_one.score}
                      .align-start
                        = product_one.score
          .tbody
            - use_cases.each do |use_case|
              - next if (product_one.suppress_use_cases && product_one.suppress_use_cases.include?(use_case.identifier)) || (product_gitlab.suppress_use_cases && product_gitlab.suppress_use_cases.include?(use_case.identifier))
              - product_gitlab_use_case = product_gitlab.use_cases[use_case.identifier] || empty_use_case
              - product_one_use_case =  product_one.use_cases[use_case.identifier] || empty_use_case
              .tr.use-case-row.use-case-expanded
                .td.vertical-align-middle
                  .row
                    .toggle-use-case
                    = use_case.title

                .td.score-box-title-container
                  .bootstrap-row
                    .col-md-4.row.margin-horizontal10
                      = image_tag "/images/devops-tools/gitlab-logo.svg", alt: "GitLab", class: "logo-before-score-box"
                      .score-box{:score => product_gitlab_use_case.score}
                    .col-sm-1.column.product-use-case-title-summary
                      .product-use-case-title
                        = product_gitlab_use_case.title
                      - if product_gitlab_use_case.score > 0
                        .product-use-case-summary
                          = product_gitlab_use_case.summary

                .td.score-box-title-container
                  .bootstrap-row
                    .col-md-4.row.margin-horizontal10
                      - if (product_one.logo != "null")
                        = image_tag "#{product_one.logo}", alt: "#{product_one.name}", class: "logo-before-score-box"
                      .score-box{:score => product_one_use_case.score}
                    .col-sm-1.column.product-use-case-title-summary
                      .product-use-case-title
                        = product_one_use_case.title
                      - if product_one_use_case.score > 0
                        .product-use-case-summary
                          = product_one_use_case.summary
              - use_case.items.each do |sub_use_case|
                - product_gitlab_sub_use_case = product_gitlab_use_case == empty_use_case || !product_gitlab_use_case.items[sub_use_case.identifier] ? empty_use_case : product_gitlab_use_case.items[sub_use_case.identifier]
                - product_one_sub_use_case = product_one_use_case == empty_use_case || !product_one_use_case.items[sub_use_case.identifier] ? empty_use_case : product_one_use_case.items[sub_use_case.identifier]
                .tr.sub-use-case-row.sub-use-case-collapsed
                  .td
                    .column
                      .row
                        .toggle-sub-use-case
                        .toggle-sub-use-case-title
                          = sub_use_case.title
                      .sub-use-case-extra
                        = sub_use_case.description
                  .td.score-box-subtitle-container
                    .bootstrap-row.align-left
                      .col-md-4.row.product-score-box-row
                        = image_tag "/images/devops-tools/gitlab-logo.svg", alt: "GitLab", class: "logo-before-score-box"
                        .score-box{:score => product_gitlab_sub_use_case.score}
                      .col-md-4.product-use-case-title-summary
                        .product-use-case-title
                          = product_gitlab_sub_use_case.title
                        - if product_gitlab_sub_use_case.score > 0
                          .product-use-case-summary
                            = product_gitlab_sub_use_case.description.length > product_summary_max_length ? "#{product_gitlab_sub_use_case.description[0..product_summary_max_length]} (...)" : product_gitlab_sub_use_case.description
                      .col-md-12.sub-use-case-extra.align-with-title
                        = product_gitlab_sub_use_case.description
                  .td.score-box-subtitle-container
                    .bootstrap-row.align-left
                      .col-md-4.row.product-score-box-row
                        - if (product_one.logo != "null")
                          = image_tag "#{product_one.logo}", alt: "#{product_one.name}", class: "logo-before-score-box"
                        .score-box{:score => product_one_sub_use_case.score}
                      .col-md-4.product-use-case-title-summary
                        .product-use-case-title
                          = product_one_sub_use_case.title
                        - if product_one_sub_use_case.score > 0
                          .product-use-case-summary
                            = product_one_sub_use_case.description.length > product_summary_max_length ? "#{product_one_sub_use_case.description[0..product_summary_max_length]} (...)" : product_one_sub_use_case.description
                      .col-md-12.sub-use-case-extra.align-with-title
                        = product_one_sub_use_case.description


- if product_one.strips 
  - content_for :strips do
    - product_one.strips.each do |strip|
      = partial "includes/devops-tools/strip-templates/#{strip.template}.html.haml", locals: { content: strip.content }

- if product_one.add_feature_comparison_table
  - content_for :feature_comparison do
    .content-container.recommendation-container
      .container.white-bg
        = partial(product_one.feature_comparison_table || 'includes/devops-tools/comparison-table.html.haml', locals: { product_one: product_one })
