---
layout: comparison_page_detailed
trial_bar: false
description: "This page compares the features of GitLab software to non-GitLab software. Review the pros and cons of each to help make your decision easier."
suppress_header: true
image_title: '/images/devops-tools/title_image.png'
extra_css:
  - comparison-page-detailed.css
  - comparison-page-header.css
  - compared.css
  - release-posts.css
  - comparison-page-table.css
extra_js:
  - bootstrap-tooltip.js
---

- template = data.devops_tools[key_one].decision_kit.strips
- product_one = data.features.devops_tools[key_one]

- content_for(:title){ product_one.name + " vs. GitLab" }

- content_for :comparison_header do
  = partial(product_one.comparison_header || 'includes/devops-tools/header.html.haml', locals: { product_name: product_one.name, layout: 'detailed', padding_bottom: '70px' })

- content_for :strips do
  - template.each do |section|
    = partial("includes/devops-tools/strip-templates/#{section.template.tr('_', '-')}.html.haml", locals: { content: section.content })

- content_for :feature_comparison do
  = partial(product_one.feature_comparison_table || 'includes/devops-tools/comparison-table.html.haml', locals: { product_one: product_one })
