%div{ class: "#{content.background || 'white'}-bg padding-top60 padding-bottom60" }
  .container.detailed-advantage
    .row.row-advantage
      %div{ class: ['image-container', 'col-md-6', ('col-md-push-6' if content.image_position == 'right')] }
        = image_tag content.image, class: 'image-comparison'
      %div{ class: ['text-container', 'col-md-6', ('col-md-pull-6' if content.image_position == 'right')] }
        .title
          = content.title
        .text
          = kramdown(content.text)
        .padding-top10
          %a{ href: content.link_url, target: '_blank', class: 'link' }
            = content.link_name
