.grid-layout.grid-layout2.margin-top50
  .grid-item
    %h2.margin-top0 Empower developers to create secure code
    %p
      %strong Application Security is hard when security is separated from your DevOps workflow.
      Security has traditionally been the final hurdle in the development life cycle. Iterative development workflows can make security a release bottleneck.
      Instead of waiting for security at the end of the development process, you can include it seamlessly within your developer's workflow.
  .grid-item
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "210", :src => "https://www.youtube.com/embed/fPLEWnI4k6k", :width => "370"}
%hr.divider
